<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mercer</title>
	<link rel="icon" type="images" href="images/favicon.ico">
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

	  <!-- Jquery.js -->
  <script src="js/jquery.min.js"></script>

	<style>
	.popover{
		color:#FF0000
		}
	.formname{
  	margin: 0px 40px;
  	}

  #fa-check{
    padding-left: 5px;
    padding-right: 15px;
    font-size: 18px;
    color : green;
  }

  #fa-check1{
    padding-left: 5px;
    padding-right: 15px;
    font-size: 20px;
    color : red;
  }

  #btn{
    color :white;
    background: #2196F3;
  }


	</style>

	<script>
		$(document).ready(function(){
			$('[data-toggle="popover"]').popover();
		});
    </script>
</head>

<body ng-app="myApp">

  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Mercer | Retirement Benefit Valuation</a>
      </div>
      <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
      <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav side-nav">
              <li class="active">
                  <a href="#"><span class="glyphicon glyphicon-home"></span> Home</a>
              </li>
              <li id="dropdown">
                        <a href="#" ><span class="glyphicon glyphicon-stats"></span> Summary&Updates </a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="#">Audit Trail Summary</a>
                            </li>
                            <li>
                                <a href="#">Fields Selection TT RawData</a>
                            </li>
                            <li>
                                <a href="#">Unique ID Match</a>
                            </li>
                            <li>
                                <a href="#">Consistency Checks</a>
                            </li>
                            <li>
                                <a href="#">Sum of Trenches equal to Total Deferred Pension</a>
                            </li>
                            <li>
                                <a href="#">Tranches matches Member Service Period</a>
                            </li>
                            <li>
                                <a href="#">Derivations / Calculations </a>
                            </li>
                        </ul>
              </li>

            <li>
                <a href="#"><span class="glyphicon glyphicon-random"></span>   Output</a>
            </li>
          </ul>
      </div>
      <!-- /.navbar-collapse -->
  </nav>

  <div id="wrapper" ng-controller="Ctrl">
      <div class="well well-lg" style="color:#380000">
	  <form  class="formname">
        <br><br>
        <table class="table table-bordered table-responsive">
		 <thead>
          <tr>
            <th class="text-center">Scheme Name</th>
            <th class="text-center">Scheme Category</th>
            <th class="text-center">Report Status</th>
            <th class="text-center">Reconcilation Status</th>
            <th class="text-center">Output Status</th>
          </tr>
		  </thead>
		  <tbody ng-repeat="Scheme in Scheme_details">
		  <tr>
            <td class="text-center">{{Scheme.SchemeName}}</td>
            <td class="text-center">{{Scheme.SchemeCategory}}</td>
            <td class="text-center" ng-if="Scheme.ReportStatus == 'yes'"> <i id="fa-check" class="fa fa-check-circle" aria-hidden="true"></i><button id="btn" class="btn btn-md">Check</button> </td>

            <td class="text-center" ng-if="Scheme.ReportStatus == 'no'"> <i id="fa-check1" class="fa fa-times-circle-o" aria-hidden="true"></i><button id="btn" class="btn btn-md" ng-disabled="true">Check</button> </td>

            <td class="text-center" ng-if="Scheme.ReconcilationStatus == 'yes'"> <i id="fa-check" class="fa fa-check-circle" aria-hidden="true"></i><button id="btn" class="btn btn-md">Check</button> </td>

            <td class="text-center" ng-if="Scheme.ReconcilationStatus == 'no'"> <i id="fa-check1" class="fa fa-times-circle-o" aria-hidden="true"></i><button id="btn" class="btn btn-md" ng-disabled="true">Check</button> </td>

            <td class="text-center" ng-if="Scheme.OutputStatus == 'yes'"> <i id="fa-check" class="fa fa-check-circle" aria-hidden="true"></i><button id="btn" class="btn btn-md ">Check</button> </td>

            <td class="text-center" ng-if="Scheme.OutputStatus == 'no'"> <i id="fa-check1" class="fa fa-times-circle-o" aria-hidden="true"></i><button id="btn" class="btn btn-md" ng-disabled="true">Check</button> </td>

          </tr>
		  </tbody>
        </table>
        <br><br>
        Please confirm Pension Benefits are same for LT and TT or not.
        <br><br>

          <input type="radio" name="somethign" value="true" ng-model="checkboxSelection" /> Yes (Benefits are same for LT and TT)<br>
           <input type="radio" name="somethign" value="false" ng-model="checkboxSelection" data-trigger="focus"
		   data-toggle="popover" data-content="If Benefits are different for LT and TT then Doer
		   needs to prepare the Data Snapshot manually"/> No (Benefits are different for LT and TT)

		<br><br>
        <p><a class="btn btn-primary btn-md" href="{{link}}" role="button" ng-disabled="isCheckboxSelected('false')">Add  scheme and data</a></p>
	   </form>

 
      </div>

  </div>
  <!-- /#wrapper -->


  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

  <!-- Angular.js -->
  <script src="js/angular.min.js"></script>

  <!-- home.js -->
  <script src="js/home.js"></script>

</body>
</html>
